#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 572px;
  height: 40px;
  left: 20px;
  top: 20px;
}

#personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 189px;
  height: 40px;
  left: 383px;
  top: 0px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 293px;
}

#picture {
  position: static;
  width: 40px;
  height: 40px;
  left: 149px;
  top: 0px;
  background: url(ToyFaces_Colored_BG_56.jpg);
}
